# Entornos y cachés de Python
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datos crudos/pesados (mantener estructura de carpetas con .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
